{% extends 'base.html' %}
{% block title %}
About
{% endblock %}
{% block content %}
<style>
    body {
        color: white;
    }
</style>

<h1>About Waste Identifier</h1>
<p1 style = "font-size: 25px;">What is the project, and why did we choose it?<br><br></p1>
<style>
    body{
        color : rgb(222, 102, 102)
    }
</style>
<p2>This project was made for CruzHacks 23, for the sustainability track.<br>
    When we came to CruzHacks, lots of trash was left after meals, just staying there.<br>
    We then cleaned the trash, but when emptying the trash into the bins, we were astonished.<br>
    In the compost bin, we saw empty plates, and then it hit us.<br>
    People either didn't know how to sort their trash, or didn't care about sustainability. <br>
    If we can't do it, can we really expect the next generationt to do it?<br>
    This was our motivation for this!<br>    
</p2>
<h1></h1>

{% endblock %}
